@font-face {
    font-family: FontHoneyRoom;
    src: url(../fonts/HoneyRoom.ttf);
    font-weight: bold;
}

body {
    font-family:FontHoneyRoom;
}

#logo {
    /* font-family:FontHoneyRoom; */
    font-size: 20px;
}

h1 {
    /* font-family:FontHoneyRoom; */
    font-size: 50px;
}